.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header__right-list {
    list-style: none;
    display: flex;
}

.header__right-list li a {
    text-decoration-line: none;
    font-weight:bold;
    color: #8D8D8D;
}

.header-nav-item {
    margin-right: 10px;
}

.firstview {
    height: 700px;
}



.firstview__title--top {
    font-family: 'Indie Flower', cursive;
    color: #B9176A;
    font-size: 50px;
    width: 500px;
    margin: 30px 0;
    padding: 30px 0;
}

.firstview__title--bottom {
    color: #B9176A;
}

span {
    color: #08A0B3;
}

.firstview__title--text {
    color: #8D8D8D;
    font-size: 20px;
}

.firstview__right img{
    position: relative;
    display: block;
    text-align: right;
}

.firstview__title {
    position: absolute;
}

.news__center {
    display: flex;
    justify-content: center;
}

.news__title {
    
}

.news__title--top {
    display: block;
    font-family: 'Indie Flower', cursive;
        font-size: large;
        color: #B9176A;
}

.news__title--bottom {
    display: block;
    font-weight: bold;
        font-size: 25px;
        color: #8D8D8D;
        margin: 0 0 30px 0;
}

.news {
    list-style: none outside;
    display: flex;
    flex-direction: column;
    
}

.news .item a {
    display: flex;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 10px 20px;
}

.news .item:first-child a {
    border-top: 1px solid #ccc;
}

.news .item .news__date {
    margin: 0;

    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;

}

.news__news {
    margin: 0;

    padding: 0 20px 0 0;
}

.news__news span {
    background: #B31667;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 40px;
    font-size: 12px;
    line-height: 1;
    border-radius: 100vh;

}

.news__text {
    margin: 0;
    color: #8D8D8D;
}

.about {
    height: 500px;
    background-color: #F5F5F5;
    margin: 80px 0px;
}

.about__title {
    text-align: center;
    margin: 50px;
}

.about__title--top {
    font-family: 'Indie Flower', cursive;
    font-size: large;
        color: #B9176A;
}

.about__title--bottom {
    font-weight: bold;
    font-size: 30px;
    color: #8D8D8D;
    margin: 20px 0;
    
    

}

.about__text-img {
    display: flex;
    justify-content: center;
    
    
}

.about__text {
    width: 400px;
    margin: 0 70px;
}

.about__img img {
    width: 400px;
    margin: 0 70px;
}

.service {
    margin: 10px 50px;
}

.service__title--top {
    font-family: 'Indie Flower', cursive;
    font-size: large;
    color: #B9176A;
}

.service__title--bottom {
    color: #8D8D8D;
    font-weight: bold;
    margin: 20px 0;
    font-size: large;
}

.service__grid {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 1.5fr 1.5fr;
}

.box1 {
    background: #B31667;
    grid-column: 1/2;
    grid-row: 1/3;
    
}

.service__grid--img1 {
    text-align: center;
}

.service__grid--img1 img {
    width: 150px;
    
}

.service__grid--title1 {
    color: white;
    display: flex;
    justify-content: center;
}

.service__grid--text1 {
    color: white;
    display: flex;
    justify-content: center;
    
}



.box2 {
    background: #B35B8B;
    grid-row: 1/2;
    grid-column: 2/3;
}

.service__grid--img2 img {
    width: 150px;

}

.box2__item {
    display: flex;
    justify-content: center;
}

.box2__p {
    display: flex;
    flex-direction: column;
}

.service__grid--title2 {
    color: white;
}

.service__grid--text2 {
    color: white;

}

.box3 {
    background: #B2889E;
    grid-row: 2/3;
    grid-column: 2/3;
}

.service__grid--img3 img {
    width: 150px;

}

.box3__item {
    display: flex;
    justify-content: center;
}

.box3__p {
    display: flex;
    flex-direction: column;
}

.service__grid--title3 {
    color: white;
}

.service__grid--text3 {
    color: white;

}

.blog {
    background:  #F5F5F5 ;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
        
    
}

.blog__title {
    
}

.blog__center {
    display: flex;
    flex-direction: column;
    

}

.blog__title--top {
    font-family: 'Indie Flower', cursive;
    font-size: large;
    color: #B9176A;
}

.blog__title--bottom {
    color: #8D8D8D;
    font-weight: bold;
    margin: 20px 0;
    font-size: large;
}

.blog__card {
    display: flex;
    justify-content: center;
}

.blog__card-card {
    margin: 0 20px;
    background: white;
    border-radius: 30px;
    width: 300px;
    position: relative;
    
}

.blog__card img {
    width: 100%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.blog__item {
    text-decoration-line: none;
}

.blog__item--text {
    color: #8D8D8D;
    font-size: medium;
}


.blog__item--blog{
    background-color: #B31667;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-top-left-radius: 40%;
}

.blog__tag {
    display: flex;
    justify-content: space-between;
    
}

.blog__item--tag--left {
    color: #8D8D8D;
    display: inline-block;
    padding: 0 20px;
    
}

.blog__item--tag--right {
    color: #8D8D8D;
    display: inline-block;
    padding: 0 20px;
    
}



.blog__btn {
    width: 200px;
        padding: 20px 10px;
        color: #BB2D75;
        border-radius: 40px;
        text-align: center;
        text-decoration-line: none;
        margin: 50px auto 0;
        display: block;
        border: solid 2px #BB2D75;
        background-color: white;
       
    }

.company {
    display: flex;
    justify-content: center;
}


.company__company {
    display: flex;
    justify-content: center;
    display: flex;
        flex-direction: column;
}

.company__title--top {
    font-family: 'Indie Flower', cursive;
    color: #B9176A;
    font-size: large;
}

.company__title--bottom {
    color: #8D8D8D;
    font-weight: bold;
    margin: 20px 0;
    font-size: large;
}

.company__table-table {
    
}

.company__table {
    border-collapse: collapse;
    width: 45pc;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 20px;
    color: #8D8D8D;
}

table th {
    font-weight: bold;
    background-color: #F5F5F5;
    
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info__relative--left {
    position: relative;
        background: url(../img/recruit.png) no-repeat center/cover;
        height: 300px;
        width: 100%;
        grid-column: 1/2;
}

.info__absolute--left {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #fff;
        
}


.info__relative--right {
    position: relative;
    background: url(../img/interview.png) no-repeat center/cover;
    height: 300px;
    width: 100%;
    grid-column: 2/3;
}

.info__absolute--right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}

.contact__text {
    font-weight: bold;
    color: #8D8D8D;
    text-align: center;
    font-size: large;
}

.contact__border {
        
        width: 3px;
        height: 30px;
        background-color: #B9176A;
        display: block;
        margin: 0px auto 0;

}

.contact__btn {
    width: 200px;
        padding: 25px 25px;
        color: white;
        border-radius: 40px;
       text-align: center;
        text-decoration-line: none;
        margin: 30px auto 0;
        display: block;
        background: linear-gradient(90deg,#FC1E8D,#B9176A);
        box-shadow: 0 5px #840151;
        position: relative;
}

.contact__btn::after {
    content: "";
        position: absolute;
        top: 50%;
        left: 15px;
        background: url(../img/mailicon.svg) no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        transform: translate(0, -50%);
}

.footer {
    text-align: center;
    color: #8D8D8D;
    margin: 70px auto 0px;
    
}



